<html>
   <body bgcolor="PALE RED"><center>
       <p><h1><center>FIELD DECLARATIONS FOR DEDUPE ANALYSIS</center></h1></p>

      <form action = "http://localhost:9895/fields" method = "post">

         <p>Enter Field Name1:
         <input type = "text" name = "fieldname"  data-toggle="dropdown"/>
          Enter Field Type:
          <select class="CDropDownList160PX" name="field_type">
                <option value=""></option>
                <option value="String">String</option>
                <option value="Exact">Exact</option>
                <option value="Text">Text</option>
                <option value="LatLong">LatLong</option>
                <option value="Price">Price</option>
               </select>
             Has missing data?:
             <select Enter Field sclass="CDropDownList160PX" name="missing_type">
                <option value="False">False</option>
                <option value="True">True</option>
              </select>
          </p>

          <p>Enter Field Name2:
         <input type = "text" name = "fieldname2"  data-toggle="dropdown"/>
          Enter Field Type:
          <select class="CDropDownList160PX" name="field_type2">
                <option value=""></option>
                <option value="String">String</option>
                <option value="Exact">Exact</option>
                <option value="Text">Text</option>
                <option value="LatLong">LatLong</option>
                <option value="Price">Price</option>
               </select>
             Has missing data?:
             <select Enter Field sclass="CDropDownList160PX" name="missing_type2">
                <option value="False">False</option>
                <option value="True">True</option>
              </select>
          </p>

          <p>Enter Field Name3:
         <input type = "text" name = "fieldname3"  data-toggle="dropdown"/>
          Enter Field Type:
          <select class="CDropDownList160PX" name="field_type3">
                <option value=""></option>
                <option value="String">String</option>
                <option value="Exact">Exact</option>
                <option value="Text">Text</option>
                <option value="LatLong">LatLong</option>
                <option value="Price">Price</option>
               </select>
             Has missing data?:
             <select Enter Field sclass="CDropDownList160PX" name="missing_type3">
                <option value="False">False</option>
                <option value="True">True</option>
              </select>
          </p>

          <p>Enter Field Name4:
         <input type = "text" name = "fieldname4"  data-toggle="dropdown"/>
          Enter Field Type:
          <select class="CDropDownList160PX" name="field_type4">
                <option value=""></option>
                <option value="String">String</option>
                <option value="Exact">Exact</option>
                <option value="Text">Text</option>
                <option value="LatLong">LatLong</option>
                <option value="Price">Price</option>
               </select>
             Has missing data?:
             <select Enter Field sclass="CDropDownList160PX" name="missing_type4">
                <option value="False">False</option>
                <option value="True">True</option>
              </select>
          </p>

          <p>Enter Field Name5:
         <input type = "text" name = "fieldname5"  data-toggle="dropdown"/>
          Enter Field Type:
          <select class="CDropDownList160PX" name="field_type5">
                <option value=""></option>
                <option value="String">String</option>
                <option value="Exact">Exact</option>
                <option value="Text">Text</option>
                <option value="LatLong">LatLong</option>
                <option value="Price">Price</option>
               </select>
             Has missing data?:
             <select Enter Field sclass="CDropDownList160PX" name="missing_type5">
                <option value="False">False</option>
                <option value="True">True</option>
              </select>
          </p>

           <p>Enter Field Name6:
         <input type = "text" name = "fieldname6"  data-toggle="dropdown"/>
          Enter Field Type:
          <select class="CDropDownList160PX" name="field_type6">
                <option value=""></option>
                <option value="String">String</option>
                <option value="Exact">Exact</option>
                <option value="Text">Text</option>
                <option value="LatLong">LatLong</option>
                <option value="Price">Price</option>
               </select>
             Has missing data?:
             <select Enter Field sclass="CDropDownList160PX" name="missing_type6">
                <option value="False">False</option>
                <option value="True">True</option>
              </select>
          </p>

           <p>Enter Field Name7:
         <input type = "text" name = "fieldname7"  data-toggle="dropdown"/>
          Enter Field Type:
          <select class="CDropDownList160PX" name="field_type7">
                <option value=""></option>
                <option value="String">String</option>
                <option value="Exact">Exact</option>
                <option value="Text">Text</option>
                <option value="LatLong">LatLong</option>
                <option value="Price">Price</option>
               </select>
             Has missing data?:
             <select Enter Field sclass="CDropDownList160PX" name="missing_type7">
                <option value="False">False</option>
                <option value="True">True</option>
              </select>
          </p>

           <p>Enter Field Name8:
         <input type = "text" name = "fieldname8"  data-toggle="dropdown"/>
          Enter Field Type:
          <select class="CDropDownList160PX" name="field_type8">
                <option value=""></option>
                <option value="String">String</option>
                <option value="Exact">Exact</option>
                <option value="Text">Text</option>
                <option value="LatLong">LatLong</option>
                <option value="Price">Price</option>
               </select>
             Has missing data?:
             <select Enter Field sclass="CDropDownList160PX" name="missing_type8">
                <option value="False">False</option>
                <option value="True">True</option>
              </select>
          </p>

           <p>Enter Field Name9:
         <input type = "text" name = "fieldname9"  data-toggle="dropdown"/>
          Enter Field Type:
          <select class="CDropDownList160PX" name="field_type9">
                <option value=""></option>
                <option value="String">String</option>
                <option value="Exact">Exact</option>
                <option value="Text">Text</option>
                <option value="LatLong">LatLong</option>
                <option value="Price">Price</option>
               </select>
             Has missing data?:
             <select Enter Field sclass="CDropDownList160PX" name="missing_type9">
                <option value="False">False</option>
                <option value="True">True</option>
              </select>
          </p>


         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>